package utils

type qiniuCfg struct {
	accessKey string
	secretKey string
	bucket    string
	zone      string

	domain string
}

func QiniuCfg() qiniuCfg {
	cfg := qiniuCfg{
		//七牛key
		accessKey: "aaaaa",
		//七牛secret
		secretKey: "bbbbbb",
		//七牛存储的bucket
		bucket:    "tccnu-ups",
		//所属区域
		zone:      "ZoneHuanan",
		//访问的域名地址
		domain:    "https://cccc.com",
	}

	return cfg
}
